@font-face {
    font-family: norse-bold;
    src: url(./font/norse-bold-webfont.woff2);
}

*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: #F7F7F7;

    display: flex;
}
.hero{
    flex-basis: 37%;
    background-image: url(./images/leaves.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.hero>footer{
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
}
.hero>footer, .hero a{
    color: white;
}
.logo-holder{
    background-color: rgba(0 0 0 / 0.33);
    height: auto;
    padding: 10px;
    color: white;
    font-family: norse-bold;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
.logo>img{
    height: 6rem;
    z-index: -1;
}
.logo>span, .logo>img{
    vertical-align: middle;
    margin-left: -15px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -20vh;
    font-family: sans-serif;
}
.info, .input-wrapper, .button-wrapper{
    padding-left: 50px;
}
.info{
    font-weight: bold;
    font-size: 1.5rem;
    max-width: 74ch;
    padding-bottom: 20px;
}
.input-wrapper{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 45px;
    row-gap: 15px;
    box-shadow: 3px 5px 6px 2px lightgray;
}
.input-wrapper>p{
    flex-basis: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 8px;
}
.input-wrapper div{
    flex-basis: 50%;
    text-align: left;

}
.input-wrapper input{
    height: 1.7rem;
    font-size: 1rem;
    padding: 4px;
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 55%;
    
}
.input-wrapper label{
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    font-weight: 530;
}
.input-wrapper>div:nth-child(odd){
    margin-left: -12%;
}
.input-wrapper input:focus{
    outline: none;
    border: 1px solid #3961E5;
    box-shadow: 0 0 3px #3961E5;
}
.input-wrapper input:invalid{
    outline: none;
    border: 1px solid red;
}
.input-wrapper input:focus:invalid{
    outline: none;
    border: 1px solid #3961E5;
    box-shadow: 0 0 3px #3961E5;
}

.button-wrapper{
    padding-top: 35px;
}